<div>
    <div data-ng-show="Users || Users.length > 0">
        <div>
            <h3>Bookmarked places for user: <span class="text-warning">{{Users[0].FisrtName}}</span></h3>
        </div>
    </div>
    <div ata-ng-show="totalRecordsCount > 0">
        <div class="row">
            <div class="col-md-12">
                <input type="text" data-ng-model="filterValue" class="form-control" placeholder="Filter Places by (Place Name) or (Category)" />
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th> First Name</th>
                <th>last  Name </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-hide="Users ||Users.length > 0">
                <td colspan="4">
                    <div class="text-center text-warning"><strong>No bookmarked places found, Explore Foursquare and Bookmark Some Places!</strong></div>
                </td>
            </tr>

            <tr data-ng-repeat="user in Users">
                <td>
                    <!--<a target="_blank" data-ng-href="https://foursquare.com/v/{{place.venueID}}">{{ country.Name }}</a>-->
                    {{ user.FirstName}}
                </td>
                <td>
                    {{ user.LastName}}
                </td>

                <td>
                    <!--<span class="badge">{{ country.Skore | number:1 }}</span>-->
                    <button class="btn btn-success pull-right"> edit</button>
                   
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right" data-ng-show="totalRecordsCount > 0">
        <div>
            <div data-pagination="" data-previous-text="<" data-next-text=">" data-first-text="<<" data-last-text=">>"
                 data-on-select-page="pageChanged(page)" data-total-items="totalRecordsCount" data-page="currentPage"
                 data-boundary-links="true" class="pagination pagination-sm" data-max-size="5" data-rotate="false" data-items-per-page="10">
            </div>
        </div>
    </div>
</div>
